<!DOCTYPE html>

<html>

    <head>

        <title>Annumity</title>

        <!-- 합쳐지고 최소화된 최신 CSS -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="/src/css/style.css" />

    </head>

    <body>

        <nav id="navBar" class="navbar navbar-dark primary-color">
            <a id="navBarTitle" class="navbar-brand" href="/">Annumity</a>

            <div class="nav-item">
                <a id="navBarRank" class="nav-link" href="/rank">RANK</a>
            </div>
        </nav>

        <h1>Annumity Rank Page.</h1>


        <div class="ranks">

            <div class="inform anime">
                <div class="animeInfoNum">순위</div>
                <div class="animeInfoImg">이미지</div>
                <div class="animeInfoTitle">제목</div>
                <div class="animeInfoCate">카테고리</div>
                <div class="animeDate">방영일</div>
            </div>

            <div class="anime_one hoverable ">
                <div class="animeNum"><%= "1위" %></div>
                <img class="animeImg hoverable" src="<%= imageDt[0] %>">
                <div class="animeTitle"><%= titleDt[1] %></div>
                <div class="animeCate"><%= categoryDt[1] %></div>
                <div class="animeDate"><%= dateDt[1] %></div>
            </div>
            <div class="anime_two hoverable ">
                <div class="animeNum"><%= "2위" %></div>
                <img class="animeImg hoverable" src="<%= imageDt[1] %>">
                <div class="animeTitle"><%= titleDt[2] %></div>
                <div class="animeCate"><%= categoryDt[2] %></div>
                <div class="animeDate"><%= dateDt[2] %></div>
            </div>
            <div class="anime_thr hoverable ">
                <div class="animeNum"><%= "3위" %></div>
                <img class="animeImg hoverable" src="<%= imageDt[2] %>">
                <div class="animeTitle"><%= titleDt[3] %></div>
                <div class="animeCate"><%= categoryDt[3] %></div>
                <div class="animeDate"><%= dateDt[3] %></div>
            </div>

            <% for (let i = 3; i < 10; i++) { %>
                <div class="anime hoverable ">
                    <div class="animeNum"><%= i+1 + "위" %></div>
                    <img class="animeImg hoverable" src="<%= imageDt[i] %>">
                    <div class="animeTitle"><%= titleDt[i+1] %></div>
                    <div class="animeCate"><%= categoryDt[i+1] %></div>
                    <div class="animeDate"><%= dateDt[i+1] %></div>
                </div>
            <% } %>

        </div>

    </body>

</html>
