<!DOCTYPE html>

<html>

    <head>

        <title>Annumity</title>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="/src/css/rankstyle.css" />

    </head>

    <body>

        <nav id="navBar" class="navbar navbar-dark">
            <a id="navBarTitle" class="navbar-brand" href="/">Annumity</a>

            <div class="nav-item">
                <a id="navBarRank" class="nav-link" href="/rank">RANK</a>
            </div>

            <div class="nav-item">
                <a id="navBarNew" class="nav-link" href="/new">NEW</a>
            </div>
        </nav>


        <div class="ranks">

            <div class="onethr">

                <div class="anime_one">

                    <div class="cover">
                        <div class="rankCover z-depth-1">
                            <div class="rankNumCover">1위</div>

                            <div class="imgCover"><img src="<%= imageDt[0] %>"></div>

                            <div class="textCover">
                                <div class="animeCate"><%= categoryDt[1] %></div>
                                <div class="animeTitle"><%= titleDt[1] %></div>
                                <div class="animeDate"><%= dateDt[1] %></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="anime_one">

                    <div class="cover">
                        <div class="rankCover z-depth-1">
                            <div class="rankNumCover">2위</div>

                            <div class="imgCover"><img src="<%= imageDt[1] %>"></div>

                            <div class="textCover">
                                <div class="animeCate"><%= categoryDt[2] %></div>
                                <div class="animeTitle"><%= titleDt[2] %></div>
                                <div class="animeDate"><%= dateDt[2] %></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="anime_one">

                    <div class="cover">
                        <div class="rankCover z-depth-1">
                            <div class="rankNumCover">3위</div>

                                <div class="imgCover"><img src="<%= imageDt[2] %>"></div>

                                <div class="textCover">
                                    <div class="animeCate"><%= categoryDt[3] %></div>
                                    <div class="animeTitle"><%= titleDt[3] %></div>
                                    <div class="animeDate"><%= dateDt[3] %></div>
                                </div>

                        </div>
                    </div>
                </div>



                <!-- <div class="anime_one hoverable z-depth-1 ">
                    <div class="imageplace">
                        <img class="animeImg hoverable" src="<%= imageDt[0] %>">
                    </div>
                    <div class="textplace">
                        <div class="animeNum" style="color: rgb(255,255,110);">1위</div>
                        <div class="animeCate"><%= categoryDt[1] %></div>
                        <div class="animeTitle"><%= titleDt[1] %></div>
                        <div class="animeDate"><%= dateDt[1] %></div>
                    </div>
                </div>

                <div class="anime_two hoverable z-depth-1 ">
                    <div class="imageplace">
                        <img class="animeImg hoverable" src="<%= imageDt[1] %>">
                    </div>
                    <div class="textplace">
                        <div class="animeNum" style="color: rgb(183,183,183);">2위</div>
                        <div class="animeCate"><%= categoryDt[2] %></div>
                        <div class="animeTitle"><%= titleDt[2] %></div>
                        <div class="animeDate"><%= dateDt[2] %></div>
                    </div>
                </div>

                <div class="anime_thr hoverable z-depth-1 ">
                    <div class="imageplace">
                        <img class="animeImg hoverable" src="<%= imageDt[2] %>">
                    </div>
                    <div class="textplace">
                        <div class="animeNum" style="color: rgb(105,81,81);">3위</div>
                        <div class="animeCate"><%= categoryDt[3] %></div>
                        <div class="animeTitle"><%= titleDt[3] %></div>
                        <div class="animeDate"><%= dateDt[3] %></div>
                    </div>
                </div> -->

            </div>

            <div class="fourend">
                <% for (let i = 3; i < 10; i++) { %>
                    <div class="cover-for">
                        <div class="rankCover-for z-depth-1">
                            <div class="rankNumCover-for"><%= i+1 + "위" %></div>

                            <div class="imgCover-for"><img src="<%= imageDt[i] %>"></div>

                            <div class="textCover-for">
                                <div class="animeCate-for"><%= categoryDt[i+1] %></div>
                                <div class="animeTitle-for"><%= titleDt[i+1] %></div>
                                <div class="animeDate-for"><%= dateDt[i+1] %></div>
                            </div>

                        </div>
                    </div>
                <% } %>
            </div>


        </div>

    </body>

</html>
